@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Name That Wrap</title>
    <meta name="description" content="How well do you know woven wraps? Test your ability to identify the colorways of popular brands with quiz.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div id="wrap">
        <h1 id="title">Name <span>that</span> Wrap</h1>
        <div id="log-in">
            <form action="process.php" method="post">
                <label>Name</label> <input type=text name="name" placeholder="" size=20>
                <label>Password</label> <input type=password name="password" placeholder="" size=20>
                <button type="submit" id="create-account">Create an account</button>
                <button type="submit" id="fb-login">Log in with Facebook</button>
            </form>
        </div><!--end log-in div-->
    </div><!--end wrap div-->
</body>
</html>
