@using NameThatWrap.Models;
@using NameThatWrap.data;

@model SuggestionModel

@{
    ViewBag.Title="Suggestion";
    Layout = "../Shared/_Layout.cshtml";
}

<body>
    <div class="form">
        <h3>Do you know of a wrap we should add to the game?</h3><br />
        <p id="tellus">Tell us!</p><br />

        @using (Html.BeginForm("Suggestion", "Feedback"))
        {
            @Html.ValidationSummary();
            <label>Brand:</label> @Html.TextBoxFor(m => m.Brand); <br />
            <label>Colorway:</label> @Html.TextBoxFor(m => m.SuggestColorway); <br />
            <label>Link to the image:</label> @Html.TextBoxFor(m => m.ImgLink); <br />
            <input type="submit" value="Submit" />

        }

    </div>
</body>
