@using NameThatWrap.data;

@model Wrap

@{
    ViewBag.Title = "Details"; 
    Layout = "../Shared/_Layout.cshtml";
}

    <div id="wrap">
        <h1>@Model.Colorway</h1>
    </div><!--end wrap div-->
    <div id="bg">
        <img id="levelbgimg" src="../../Assets/img/@Model.ImgName" alt="wrapcolorway" />
    </div><!--end bg div-->
