@using NameThatWrap.Models;

@model WrapListModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>WrapList</title>
    <meta name="description" content="How well do you know woven wraps? Test your ability to identify the colorways of popular brands with quiz.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div>
        @* @if (Model.LoggedIn == true) *@
        {
            <span>Hello, Welcome @Session["name"]!</span>
        }
    </div>
    <div>
        <ul id="colorway-list">

            @foreach(WrapModel wm in Model.WrapList)
            { 

            <li>@wm.Colorway</li> <!--use a loop, with the li inside the loop, to go through the list-->
             
            <p><a href="@Url.Action("Details", new {wrapID = wm.WrapID })">Yes, show it to me!!!</a></p>   
            }



        </ul>
    </div>
</body>
</html>
