@using NameThatWrap.Models;
@using NameThatWrap.data;

@model WrapListModel

@{
    Layout = "../Shared/_Layout.cshtml";
}


    <div id="content">
        <ul id="colorway-list">

            @foreach(Wrap wm in Model.WrapList)
            { 

            <li>@wm.Colorway</li> <!--use a loop, with the li inside the loop, to go through the list-->
             
            <p><a href="@Url.Action("Details", new {WrapID = wm.WrapID })">Click to view</a></p>   
            }



        </ul>
    </div>
    <div id="bg">
        <img id="bgimg" src="../../Assets/img/eva.jpg" alt="evacolorway" />
    </div><!--end bg div-->
