@using NameThatWrap.Models;
@using NameThatWrap.data;

@model WrapListModel

@{
    Layout = "../Shared/_Layout.cshtml";
}


<body>

    <div>
        <ul id="colorway-list">

            @foreach(WrapModel wm in Model.WrapList)
            { 

            <li>@wm.Colorway</li> <!--use a loop, with the li inside the loop, to go through the list-->
             
            <p><a href="@Url.Action("Details", new {wrapID = wm.WrapID })">Click to view</a></p>   
            }



        </ul>
    </div>
</body>
