@using NameThatWrap.data
@using NameThatWrap.Models
@model NameThatWrap.data.User

@{
    ViewBag.Title = "YouLose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <h1>Oh no, you lose!</h1>
   @* <h2>Thank you for playing, @Model.FirstName!</h2> *@
    <h2><a class="button" href="@Url.Action( "Level", "Home", new {wrapID = @ViewBag.WrapID })">Play again</a></h2>
</div><!--end content div-->
<div id="bg">
    <img id="bgimg" src="../../Assets/img/eva.jpg" alt="evacolorway" />
</div><!--end bg div-->
