@using NameThatWrap.Models;
@using NameThatWrap.data;

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}


    <div class="form" id="content">
        <h1 id="title">Name <span>that</span> Wrap</h1>
        <div id="log-in">
            <p><a class="fauxbutton" href="@Url.Action("Register", "Account")">Register</a></p>
            <p><a class="fauxbutton" href="@Url.Action("SignIn", "Account")">Sign In</a></p>
            <!--<p><a class="fauxbutton" href="@Url.Action("Suggestion", "Feedback")">Suggest a wrap to add</a></p>-->
        </div><!--end log-in div-->
    </div><!--end form/content div-->
    <div id="bg">
        <img id="bgimg" src="../../Assets/img/eva.jpg" alt="evacolorway" />
    </div><!--end bg div-->
