@using NameThatWrap.Models;
@using NameThatWrap.data;

@model NameThatWrap.data.User

@{
    ViewBag.Title = "SignIn";
    Layout = "../Shared/_Layout.cshtml";
}


    <div class="form" id="content">
        @using (Html.BeginForm("SignIn", "Account"))
        {
            @Html.ValidationSummary();
            <label>Email</label> @Html.TextBoxFor(m => m.Email)
            <label>Password</label> @Html.PasswordFor(m => m.Password)
            <input class="button" type="submit" value="Sign in" />

        }
    </div><!--end form/content div-->
    <div id="bg">
        <img id="bgimg" src="../../Assets/img/eva.jpg" alt="evacolorway" />
    </div><!--end bg div-->