@using NameThatWrap.data
@using NameThatWrap.Models
@model NameThatWrap.data.User

@{
    ViewBag.Title = "ThanksReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Thank you for registering, @Model.FirstName!</h2>
    <h2><a href="@Url.Action( "Level", "Home", new {wrapID = @ViewBag.WrapID })">Play the game!  >></a></h2>
</body>