@using NameThatWrap.data
@using NameThatWrap.Models
@model SignInModel

@{
    ViewBag.Title = "WelcomeBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
       @if (Session["logged_in"] == "true")
       {
            <h2>Hey, welcome back, @Session["name"]!</h2>
       }
    </div>
    <div>
        <h2><a href="@Url.Action( "Level", "Home", new {wrapID = Model.WrapID })">Play the game!  >></a></h2>
    </div>

</body>
