@using NameThatWrap.data
@using NameThatWrap.Models
@model SignInModel

@{
    ViewBag.Title = "WelcomeBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="content">
        <div>
            @if (Session["logged_in"] == "true")
            {
                <h1>Welcome back, @Session["name"]!</h1>
            }
        </div>
        <div>
            <h2><a class="button" href="@Url.Action( "Level", "Home", new {wrapID = Model.WrapID })">Play the game</a></h2>
        </div>
    </div><!--end content div-->
    <div id="bg">
        <img id="bgimg" src="../../Assets/img/eva.jpg" alt="evacolorway" />
    </div><!--end bg div-->

